<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Pioneer Course</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Videos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Week 1</a></li>
            <li><a href="#">Week 2</a></li>
            <li><a href="#">Week 3</a></li>
            <li class="divider"></li>
            <li><a href="#">The "other stuff"</a></li>
          </ul>
        </li>
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Missions And Exercises <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Misssion: Bold Request</a></li>
            <li><a href="#">Exercise: Coonect 3</a></li>
            <li><a href="#">Week 3</a></li>
            <li class="divider"></li>
            <li><a href="#">The "other stuff"</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alex Swiec<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">My Missions and Exercises</a></li>
            <li><a href="#">My Messages</a></li>
            <li class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Welcome to the Pioneer Course</h1>
  <p>This is the beginning of a great adventure</p>
  <blockquote>"The perfect time to start something is before you feel ready." - Stefano Ganddini
  </blockquote>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>